body {
  margin: 3%;
}

.lr {
  border-right: 2px solid #76B732;
}

.banner1 {
  background-image: url("../assets/img/banner1.jpg");
  background-size: cover;
}

.banner2 {
  background-image: url("../assets/img/banner2.jpg");
  background-size: cover;
}

.banner3 {
  background-image: url("../assets/img/banner3.jpg");
  background-repeat: no-repeat;
}

.banner4 {
  background-image: url("../assets/img/banner4.jpg");
  background-size: cover;
}

.bck-blue {
  background-color: #0273A8;
}

.mt-3 {
  margin-top: 3%;
}

.ml-3 {
  margin-left: 5%;
}

/* EFECTS */
header > div > div:hover {
  color: #0087C5;
  cursor: pointer;
  font-weight: bold;
}
